---
layout: default
---
<article class="speaker">
    <h1>{{ page.title }}</h1>
    <h2>{{ page.date}} &nbsp; {{ page.time }}</h2>
    <div class="row">
        <div class="column">
            <p class="aligncenter">
             <img src="{{ page.image }}" alt="{{ page.image }}" style="max-height:250px;">
            </p>
        </div>
        <div class="column">
            <p style="font-size:30px"><b>{{ page.name }}</b></p>
            <p class="aligncenter">{{ page.institution }}</p>
            <p><b>Website</b>: <a href="{{ page.website }}" target="_blank">{{ page.website }}</a></p>
        </div>
    </div> 
    <p><b>Abstract</b>: {{ page.abstract }}</p>
    <p><b>Bio</b>: {{ page.bio }}</p>
</article>
